In [51]:
import pandas as pd

url1 = 'https://fbref.com/en/comps/Big5/stats/players/Big-5-European-Leagues-Stats'

df1 = pd.read_html(url1, attrs={'id': 'stats_standard'})[0]
df1.head(10)

  Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk               Player             Nation
0                  1       Rodrigo Abajas             es ESP
1                  2       James Abankwah             ie IRL
2                  3    Keyliane Abdallah             fr FRA
3                  4     Yunis Abdelhamid             ma MAR
4                  5        Himad Abdelli             dz ALG
5                  6  Mohamed Abdelmoneim             eg EGY
6                  7             Ali Abdi             tn TUN
7                  8                 Abel             es ESP
8                  9        Nabil Aberdin             fr FRA
9                 10    Oliver Abildgaard             dk DEN

  Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
                 Pos              Squad               Comp                Age
0                 DF           Valencia         es La Liga             21-173
1                 DF            Udinese         it Serie A             20-290
2                 FW          Marseille         fr Ligue 1             18-210
3                 DF      Saint-Étienne         fr Ligue 1             37-034
4              MF,FW             Angers         fr Ligue 1             24-350
5                 DF               Nice         fr Ligue 1             25-274
6              DF,MF               Nice         fr Ligue 1             30-317
7                 DF            Osasuna         es La Liga             24-072
8                 MF             Getafe         es La Liga             22-070
9                 MF               Como         it Serie A             28-144

  Unnamed: 7_level_0 Playing Time         ... Per 90 Minutes              \
                Born           MP Starts  ...            Ast   G+A  G-PK
0               2003            1      1  ...           0.00  0.00  0.00
1               2004            1      0  ...           0.00  0.00  0.00
2               2006            1      0  ...           0.00  0.00  0.00
3               1987            7      7  ...           0.00  0.00  0.00
4               1999            9      9  ...           0.00  0.34  0.11
5               1999            5      4  ...           0.00  0.00  0.00
6               1993            6      4  ...           0.22  0.45  0.22
7               2000           10      8  ...           0.00  0.25  0.25
8               2002            6      3  ...           0.00  0.00  0.00
9               1996            1      0  ...           0.00  0.00  0.00

                                           Unnamed: 37_level_0
  G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0   0.00  0.10  0.00   0.10  0.10     0.10             Matches
1   0.00  0.00  0.00   0.00  0.00     0.00             Matches
2   0.00  0.00  0.00   0.00  0.00     0.00             Matches
3   0.00  0.04  0.00   0.04  0.04     0.04             Matches
4   0.11  0.40  0.12   0.51  0.13     0.24             Matches
5   0.00  0.00  0.00   0.00  0.00     0.00             Matches
6   0.45  0.13  0.19   0.32  0.13     0.32             Matches
7   0.25  0.03  0.04   0.07  0.03     0.07             Matches
8   0.00  0.02  0.01   0.02  0.02     0.02             Matches
9   0.00  0.00  0.00   0.00  0.00     0.00             Matches

[10 rows x 38 columns]

In [52]:
df1 = df1[df1.columns.drop(list(df1.filter(regex='Per 90')))]
df1 = df1.droplevel(0, axis=1)
df1.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,Matches
0,1,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-173,2003,1,1,...,1,0,0.1,0.1,0.0,0.1,3,2,3,Matches
1,2,James Abankwah,ie IRL,DF,Udinese,it Serie A,20-290,2004,1,0,...,0,0,0.0,0.0,0.0,0.0,0,0,0,Matches
2,3,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-210,2006,1,0,...,0,0,0.0,0.0,0.0,0.0,1,0,0,Matches
3,4,Yunis Abdelhamid,ma MAR,DF,Saint-Étienne,fr Ligue 1,37-034,1987,7,7,...,1,0,0.2,0.2,0.0,0.3,3,16,3,Matches
4,5,Himad Abdelli,dz ALG,"MF,FW",Angers,fr Ligue 1,24-350,1999,9,9,...,1,0,3.5,1.1,1.0,2.1,31,58,39,Matches

In [55]:
pl_df = df1[df1['Comp'] == 'eng Premier League']
pl_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,Matches
20,21,Tyler Adams,us USA,MF,Bournemouth,eng Premier League,25-261,1999,1,0,...,0,0,0.0,0.0,0.0,0.0,0,1,0,Matches
22,23,Tosin Adarabioyo,eng ENG,DF,Chelsea,eng Premier League,27-038,1997,4,2,...,1,0,0.0,0.0,0.0,0.0,0,2,0,Matches
26,26,Simon Adingra,ci CIV,"FW,MF",Brighton,eng Premier League,22-305,2002,5,1,...,0,0,0.3,0.3,0.5,0.8,5,2,35,Matches
34,34,Asher Agbinone,eng ENG,MF,Crystal Palace,eng Premier League,19-034,2005,1,0,...,0,0,0.0,0.0,0.0,0.1,2,0,1,Matches
45,45,Ola Aina,ng NGA,DF,Nott'ham Forest,eng Premier League,28-024,1996,9,9,...,1,0,0.1,0.1,0.3,0.4,22,37,13,Matches

In [65]:
pl_df = pl_df[['Player', 'Squad', 'MP', 'Starts', 'Min', '90s', 'CrdY', 'Gls', 'Ast', 'G+A', 'xG', 'xAG']]

pl_df.loc[:, pl_df.columns.difference(['Player', 'Squad'])] = pl_df.loc[:, pl_df.columns.difference(['Player', 'Squad'])].apply(pd.to_numeric, errors='coerce')

pl_df['xG+xAG'] = pl_df['xG'] + pl_df['xAG']
pl_df['(Gls+Ast)/MP'] = (pl_df['Gls'] + pl_df['Ast']) / pl_df['MP']
pl_df.head()

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
20,Tyler Adams,Bournemouth,1,0,10,0.1,0,0,0,0,0.0,0.0,0.0,0.0
22,Tosin Adarabioyo,Chelsea,4,2,173,1.9,1,0,0,0,0.0,0.0,0.0,0.0
26,Simon Adingra,Brighton,5,1,137,1.5,0,1,1,2,0.3,0.5,0.8,0.4
34,Asher Agbinone,Crystal Palace,1,0,3,0.0,0,0,0,0,0.0,0.0,0.0,0.0
45,Ola Aina,Nott'ham Forest,9,9,773,8.6,1,0,0,0,0.1,0.3,0.4,0.0

In [69]:
pl_df.sort_values(by='(Gls+Ast)/MP', ascending=False).round(2).head(20)

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
1658,Cole Palmer,Chelsea,9,9,775,8.6,3,7,5,12,4.8,4.2,9.0,1.333333
1882,Bukayo Saka,Arsenal,8,8,650,7.2,1,3,7,10,2.3,3.5,5.8,1.25
898,Erling Haaland,Manchester City,9,9,809,9.0,1,11,0,11,8.8,0.5,9.3,1.222222
1885,Mohamed Salah,Liverpool,9,9,784,8.7,0,6,5,11,5.2,2.9,8.1,1.222222
1181,Tariq Lamptey,Brighton,1,0,11,0.1,0,0,1,1,0.0,0.1,0.1,1.0
2279,Yoane Wissa,Brentford,6,5,404,4.5,1,5,1,6,3.9,0.3,4.2,1.0
1005,Nicolas Jackson,Chelsea,9,9,689,7.7,3,6,3,9,6.0,1.1,7.1,1.0
1387,Bryan Mbeumo,Brentford,9,9,809,9.0,2,8,0,8,3.8,2.0,5.8,0.888889
943,Son Heung-min,Tottenham,6,6,519,5.8,0,3,2,5,1.8,1.8,3.6,0.833333
2286,Chris Wood,Nott'ham Forest,9,9,721,8.0,1,7,0,7,3.7,0.9,4.6,0.777778
2253,Ollie Watkins,Aston Villa,9,9,685,7.6,0,5,2,7,4.3,1.0,5.3,0.777778
2262,Danny Welbeck,Brighton,9,9,749,8.3,1,6,1,7,4.5,0.4,4.9,0.777778
580,Luis Díaz,Liverpool,9,7,533,5.9,0,5,2,7,2.8,1.3,4.1,0.777778
1396,Dwight McNeil,Everton,9,9,797,8.9,1,3,3,6,0.7,2.6,3.3,0.666667
326,Facundo Buonanotte,Leicester City,8,6,551,6.1,3,3,2,5,2.1,1.3,3.4,0.625
1910,Jadon Sancho,Chelsea,5,4,305,3.4,1,0,3,3,0.1,1.1,1.2,0.6
1044,Diogo Jota,Liverpool,7,7,492,5.5,1,2,2,4,2.7,0.8,3.5,0.571429
923,Kai Havertz,Arsenal,9,9,810,9.0,0,4,1,5,4.5,1.0,5.5,0.555556
555,Liam Delap,Ipswich Town,9,8,632,7.0,2,5,0,5,1.5,0.3,1.8,0.555556
298,Jarrod Bowen,West Ham,9,9,786,8.7,0,3,2,5,1.8,2.9,4.7,0.555556

In [70]:
pl_df.sort_values(by='xG+xAG', ascending=False).head(20)

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
898,Erling Haaland,Manchester City,9,9,809,9.0,1,11,0,11,8.8,0.5,9.3,1.222222
1658,Cole Palmer,Chelsea,9,9,775,8.6,3,7,5,12,4.8,4.2,9.0,1.333333
1885,Mohamed Salah,Liverpool,9,9,784,8.7,0,6,5,11,5.2,2.9,8.1,1.222222
1005,Nicolas Jackson,Chelsea,9,9,689,7.7,3,6,3,9,6.0,1.1,7.1,1.0
1387,Bryan Mbeumo,Brentford,9,9,809,9.0,2,8,0,8,3.8,2.0,5.8,0.888889
1882,Bukayo Saka,Arsenal,8,8,650,7.2,1,3,7,10,2.3,3.5,5.8,1.25
923,Kai Havertz,Arsenal,9,9,810,9.0,0,4,1,5,4.5,1.0,5.5,0.555556
1026,Raúl Jiménez,Fulham,9,6,518,5.8,0,4,1,5,3.3,2.0,5.3,0.555556
2253,Ollie Watkins,Aston Villa,9,9,685,7.6,0,5,2,7,4.3,1.0,5.3,0.777778
1959,Antoine Semenyo,Bournemouth,9,9,787,8.7,4,3,1,4,3.0,2.0,5.0,0.444444
2262,Danny Welbeck,Brighton,9,9,749,8.3,1,6,1,7,4.5,0.4,4.9,0.777778
834,Anthony Gordon,Newcastle Utd,8,8,682,7.6,0,2,0,2,3.3,1.5,4.8,0.25
718,Bruno Fernandes,Manchester Utd,9,9,749,8.3,1,0,2,2,2.5,2.3,4.8,0.222222
298,Jarrod Bowen,West Ham,9,9,786,8.7,0,3,2,5,1.8,2.9,4.7,0.555556
2148,Adama Traoré,Fulham,9,9,690,7.7,2,1,2,3,2.6,2.1,4.7,0.333333
1033,Brennan Johnson,Tottenham,9,8,693,7.7,2,3,0,3,4.0,0.7,4.7,0.333333
2286,Chris Wood,Nott'ham Forest,9,9,721,8.0,1,7,0,7,3.7,0.9,4.6,0.777778
1446,Kaoru Mitoma,Brighton,9,8,740,8.2,0,1,2,3,2.3,2.2,4.5,0.333333
2013,Dominic Solanke,Tottenham,7,7,617,6.9,0,2,1,3,3.6,0.8,4.4,0.428571
995,Alexander Isak,Newcastle Utd,7,7,585,6.5,0,2,1,3,3.5,0.9,4.4,0.428571

In [71]:
url2 = 'https://fbref.com/en/comps/9/Premier-League-Stats'

df2 = pd.read_html(url2, attrs={'id': 'results2024-202591_overall'})[0]
df2.head(10)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester City,9,7,2,0,20,9,11,23,2.56,18.3,8.7,9.6,1.07,D D W W W,52790,Erling Haaland - 11,Ederson,NaN
1,2,Liverpool,9,7,1,1,17,5,12,22,2.44,16.5,7.0,9.4,1.05,W W W W D,60246,Mohamed Salah - 6,Alisson,NaN
2,3,Arsenal,9,5,3,1,17,10,7,18,2.00,14.4,9.9,4.6,0.51,D W W L D,60320,Kai Havertz - 4,David Raya,NaN
3,4,Aston Villa,9,5,3,1,16,11,5,18,2.00,13.2,8.8,4.3,0.48,W D D W D,41455,Ollie Watkins - 5,Emiliano Martínez,NaN
4,5,Chelsea,9,5,2,2,19,11,8,17,1.89,17.0,11.5,5.4,0.61,W W D L W,39528,Cole Palmer - 7,Robert Sánchez,NaN
5,6,Brighton,9,4,4,1,16,12,4,16,1.78,13.1,14.6,-1.5,-0.16,D L W W D,33576,Danny Welbeck - 6,Bart Verbruggen,NaN
6,7,Nott'ham Forest,9,4,4,1,11,7,4,16,1.78,11.4,9.4,2.0,0.23,D L D W W,29816,Chris Wood - 7,Matz Sels,NaN
7,8,Tottenham,9,4,1,4,18,10,8,13,1.44,17.4,9.6,7.8,0.86,W W L W L,61407,"Son Heung-min, Brennan Johnson - 3",Guglielmo Vicario,NaN
8,9,Brentford,9,4,1,4,18,18,0,13,1.44,16.1,15.4,0.7,0.08,L D W L W,17012,Bryan Mbeumo - 8,Mark Flekken,NaN
9,10,Fulham,9,3,3,3,12,12,0,12,1.33,13.8,10.5,3.3,0.36,W W L L D,26093,Raúl Jiménez - 4,Bernd Leno,NaN

In [72]:
tm_df = df2[['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90']].copy()

for column in tm_df.columns:
    if column != 'Squad':
        tm_df[column] = pd.to_numeric(tm_df[column], errors='coerce')

tm_df['GF-xG'] = tm_df['GF'] - tm_df['xG']
tm_df['GA-xGA'] = tm_df['GA'] - tm_df['xGA']
tm_df.head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
0,1,Manchester City,9,7,2,0,20,9,23,2.56,18.3,8.7,9.6,1.07,1.7,0.3
1,2,Liverpool,9,7,1,1,17,5,22,2.44,16.5,7.0,9.4,1.05,0.5,-2.0
2,3,Arsenal,9,5,3,1,17,10,18,2.00,14.4,9.9,4.6,0.51,2.6,0.1
3,4,Aston Villa,9,5,3,1,16,11,18,2.00,13.2,8.8,4.3,0.48,2.8,2.2
4,5,Chelsea,9,5,2,2,19,11,17,1.89,17.0,11.5,5.4,0.61,2.0,-0.5
5,6,Brighton,9,4,4,1,16,12,16,1.78,13.1,14.6,-1.5,-0.16,2.9,-2.6
6,7,Nott'ham Forest,9,4,4,1,11,7,16,1.78,11.4,9.4,2.0,0.23,-0.4,-2.4
7,8,Tottenham,9,4,1,4,18,10,13,1.44,17.4,9.6,7.8,0.86,0.6,0.4
8,9,Brentford,9,4,1,4,18,18,13,1.44,16.1,15.4,0.7,0.08,1.9,2.6
9,10,Fulham,9,3,3,3,12,12,12,1.33,13.8,10.5,3.3,0.36,-1.8,1.5
10,11,Bournemouth,9,3,3,3,11,11,12,1.33,14.2,11.4,2.8,0.31,-3.2,-0.4
11,12,Newcastle Utd,9,3,3,3,9,10,12,1.33,14.1,13.0,1.1,0.13,-5.1,-3.0
12,13,West Ham,9,3,2,4,13,16,11,1.22,14.1,15.2,-1.1,-0.12,-1.1,0.8
13,14,Manchester Utd,9,3,2,4,8,11,11,1.22,14.6,15.0,-0.4,-0.04,-6.6,-4.0
14,15,Leicester City,9,2,3,4,13,17,9,1.00,8.9,18.3,-9.4,-1.04,4.1,-1.3
15,16,Everton,9,2,3,4,10,16,9,1.00,9.3,14.4,-5.1,-0.57,0.7,1.6
16,17,Crystal Palace,9,1,3,5,6,11,6,0.67,9.9,12.8,-2.9,-0.32,-3.9,-1.8
17,18,Ipswich Town,9,0,4,5,9,20,4,0.44,7.5,21.1,-13.6,-1.51,1.5,-1.1
18,19,Wolves,9,0,2,7,12,25,2,0.22,8.7,16.7,-8.0,-0.89,3.3,8.3
19,20,Southampton,9,0,1,8,6,19,1,0.11,10.5,19.6,-9.1,-1.01,-4.5,-0.6

In [73]:
tm_df.sort_values(by='xGA', ascending=True).head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
1,2,Liverpool,9,7,1,1,17,5,22,2.44,16.5,7.0,9.4,1.05,0.5,-2.0
0,1,Manchester City,9,7,2,0,20,9,23,2.56,18.3,8.7,9.6,1.07,1.7,0.3
3,4,Aston Villa,9,5,3,1,16,11,18,2.00,13.2,8.8,4.3,0.48,2.8,2.2
6,7,Nott'ham Forest,9,4,4,1,11,7,16,1.78,11.4,9.4,2.0,0.23,-0.4,-2.4
7,8,Tottenham,9,4,1,4,18,10,13,1.44,17.4,9.6,7.8,0.86,0.6,0.4
2,3,Arsenal,9,5,3,1,17,10,18,2.00,14.4,9.9,4.6,0.51,2.6,0.1
9,10,Fulham,9,3,3,3,12,12,12,1.33,13.8,10.5,3.3,0.36,-1.8,1.5
10,11,Bournemouth,9,3,3,3,11,11,12,1.33,14.2,11.4,2.8,0.31,-3.2,-0.4
4,5,Chelsea,9,5,2,2,19,11,17,1.89,17.0,11.5,5.4,0.61,2.0,-0.5
16,17,Crystal Palace,9,1,3,5,6,11,6,0.67,9.9,12.8,-2.9,-0.32,-3.9,-1.8
11,12,Newcastle Utd,9,3,3,3,9,10,12,1.33,14.1,13.0,1.1,0.13,-5.1,-3.0
15,16,Everton,9,2,3,4,10,16,9,1.00,9.3,14.4,-5.1,-0.57,0.7,1.6
5,6,Brighton,9,4,4,1,16,12,16,1.78,13.1,14.6,-1.5,-0.16,2.9,-2.6
13,14,Manchester Utd,9,3,2,4,8,11,11,1.22,14.6,15.0,-0.4,-0.04,-6.6,-4.0
12,13,West Ham,9,3,2,4,13,16,11,1.22,14.1,15.2,-1.1,-0.12,-1.1,0.8
8,9,Brentford,9,4,1,4,18,18,13,1.44,16.1,15.4,0.7,0.08,1.9,2.6
18,19,Wolves,9,0,2,7,12,25,2,0.22,8.7,16.7,-8.0,-0.89,3.3,8.3
14,15,Leicester City,9,2,3,4,13,17,9,1.00,8.9,18.3,-9.4,-1.04,4.1,-1.3
19,20,Southampton,9,0,1,8,6,19,1,0.11,10.5,19.6,-9.1,-1.01,-4.5,-0.6
17,18,Ipswich Town,9,0,4,5,9,20,4,0.44,7.5,21.1,-13.6,-1.51,1.5,-1.1

In [32]:
tm_df.sort_values(by='xG', ascending=False).head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
0,1,Manchester City,9,7,2,0,20,9,23,2.56,18.3,8.7,9.6,1.07,1.7,0.3
7,8,Tottenham,9,4,1,4,18,10,13,1.44,17.4,9.6,7.8,0.86,0.6,0.4
4,5,Chelsea,9,5,2,2,19,11,17,1.89,17.0,11.5,5.4,0.61,2.0,-0.5
1,2,Liverpool,9,7,1,1,17,5,22,2.44,16.5,7.0,9.4,1.05,0.5,-2.0
8,9,Brentford,9,4,1,4,18,18,13,1.44,16.1,15.4,0.7,0.08,1.9,2.6
13,14,Manchester Utd,9,3,2,4,8,11,11,1.22,14.6,15.0,-0.4,-0.04,-6.6,-4.0
2,3,Arsenal,9,5,3,1,17,10,18,2.00,14.4,9.9,4.6,0.51,2.6,0.1
10,11,Bournemouth,9,3,3,3,11,11,12,1.33,14.2,11.4,2.8,0.31,-3.2,-0.4
11,12,Newcastle Utd,9,3,3,3,9,10,12,1.33,14.1,13.0,1.1,0.13,-5.1,-3.0
12,13,West Ham,9,3,2,4,13,16,11,1.22,14.1,15.2,-1.1,-0.12,-1.1,0.8
9,10,Fulham,9,3,3,3,12,12,12,1.33,13.8,10.5,3.3,0.36,-1.8,1.5
3,4,Aston Villa,9,5,3,1,16,11,18,2.00,13.2,8.8,4.3,0.48,2.8,2.2
5,6,Brighton,9,4,4,1,16,12,16,1.78,13.1,14.6,-1.5,-0.16,2.9,-2.6
6,7,Nott'ham Forest,9,4,4,1,11,7,16,1.78,11.4,9.4,2.0,0.23,-0.4,-2.4
19,20,Southampton,9,0,1,8,6,19,1,0.11,10.5,19.6,-9.1,-1.01,-4.5,-0.6
16,17,Crystal Palace,9,1,3,5,6,11,6,0.67,9.9,12.8,-2.9,-0.32,-3.9,-1.8
15,16,Everton,9,2,3,4,10,16,9,1.00,9.3,14.4,-5.1,-0.57,0.7,1.6
14,15,Leicester City,9,2,3,4,13,17,9,1.00,8.9,18.3,-9.4,-1.04,4.1,-1.3
18,19,Wolves,9,0,2,7,12,25,2,0.22,8.7,16.7,-8.0,-0.89,3.3,8.3
17,18,Ipswich Town,9,0,4,5,9,20,4,0.44,7.5,21.1,-13.6,-1.51,1.5,-1.1

In [82]:
pldf_relevant = pl_df[['Player', 'Squad', 'Gls', 'Ast', 'xG', 'xAG']]
tmdf_relevant = tm_df[['Squad', 'GF', 'xG']].rename(columns={'GF': 'squad_g', 'xG': 'squad_xg'})

talismen = pldf_relevant.merge(tmdf_relevant, on='Squad', how='left')

talismen['player_g+ag'] = talismen['Gls'] + talismen['Ast']
talismen['player_xg+xag'] = talismen['xG'] + talismen['xAG']
talismen['player_g+ag/squad_g'] = talismen['player_g+ag']*100 / talismen['squad_g']
talismen['player_xg+xag/squad_xg'] = talismen['player_xg+xag']*100 / talismen['squad_xg']

talismen.rename(columns={
    'Player': 'player',
    'Squad': 'squad',
    'Gls': 'player_g',
    'Ast': 'player_ag',
    'xG': 'player_xg',
    'xAG': 'player_xag'
}, inplace=True)

talismen.head()

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg
0,Tyler Adams,Bournemouth,0,0,0.0,0.0,11,14.2,0,0.0,0.0,0.0
1,Tosin Adarabioyo,Chelsea,0,0,0.0,0.0,19,17.0,0,0.0,0.0,0.0
2,Simon Adingra,Brighton,1,1,0.3,0.5,16,13.1,2,0.8,12.5,6.10687
3,Asher Agbinone,Crystal Palace,0,0,0.0,0.0,6,9.9,0,0.0,0.0,0.0
4,Ola Aina,Nott'ham Forest,0,0,0.1,0.3,11,11.4,0,0.4,0.0,3.508772

In [83]:
talismen.sort_values(by='player_g+ag/squad_g', ascending=False).head(20)

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg
351,Mohamed Salah,Liverpool,6,5,5.2,2.9,17,16.5,11,8.1,64.705882,49.090909
443,Chris Wood,Nott'ham Forest,7,0,3.7,0.9,11,11.4,7,4.6,63.636364,40.350877
317,Cole Palmer,Chelsea,7,5,4.8,4.2,19,17.0,12,9.0,63.157895,52.941176
271,Dwight McNeil,Everton,3,3,0.7,2.6,10,9.3,6,3.3,60.0,35.483871
350,Bukayo Saka,Arsenal,3,7,2.3,3.5,17,14.4,10,5.8,58.823529,40.277778
98,Liam Delap,Ipswich Town,5,0,1.5,0.3,9,7.5,5,1.8,55.555556,24.0
172,Erling Haaland,Manchester City,11,0,8.8,0.5,20,18.3,11,9.3,55.0,50.819672
262,Jean-Philippe Mateta,Crystal Palace,3,0,1.9,0.7,6,9.9,3,2.6,50.0,26.262626
198,Nicolas Jackson,Chelsea,6,3,6.0,1.1,19,17.0,9,7.1,47.368421,41.764706
266,Bryan Mbeumo,Brentford,8,0,3.8,2.0,18,16.1,8,5.8,44.444444,36.024845
36,Harvey Barnes,Newcastle Utd,3,1,2.0,1.9,9,14.1,4,3.9,44.444444,27.659574
431,Ollie Watkins,Aston Villa,5,2,4.3,1.0,16,13.2,7,5.3,43.75,40.151515
433,Danny Welbeck,Brighton,6,1,4.5,0.4,16,13.1,7,4.9,43.75,37.40458
5,Rayan Aït-Nouri,Wolves,3,2,1.0,1.0,12,8.7,5,2.0,41.666667,22.988506
205,Raúl Jiménez,Fulham,4,1,3.3,2.0,12,13.8,5,5.3,41.666667,38.405797
103,Luis Díaz,Liverpool,5,2,2.8,1.3,17,16.5,7,4.1,41.176471,24.848485
49,Jarrod Bowen,West Ham,3,2,1.8,2.9,13,14.1,5,4.7,38.461538,33.333333
57,Facundo Buonanotte,Leicester City,3,2,2.1,1.3,13,8.9,5,3.4,38.461538,38.202247
150,Alejandro Garnacho,Manchester Utd,2,1,3.0,1.1,8,14.6,3,4.1,37.5,28.082192
366,Antoine Semenyo,Bournemouth,3,1,3.0,2.0,11,14.2,4,5.0,36.363636,35.211268

In [84]:
talismen.sort_values(by='player_xg+xag/squad_xg', ascending=False).head(20)

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg
317,Cole Palmer,Chelsea,7,5,4.8,4.2,19,17.0,12,9.0,63.157895,52.941176
172,Erling Haaland,Manchester City,11,0,8.8,0.5,20,18.3,11,9.3,55.0,50.819672
351,Mohamed Salah,Liverpool,6,5,5.2,2.9,17,16.5,11,8.1,64.705882,49.090909
91,Matheus Cunha,Wolves,4,0,2.2,1.8,12,8.7,4,4.0,33.333333,45.977011
418,Jamie Vardy,Leicester City,4,0,3.5,0.3,13,8.9,4,3.8,30.769231,42.696629
198,Nicolas Jackson,Chelsea,6,3,6.0,1.1,19,17.0,9,7.1,47.368421,41.764706
65,Dominic Calvert-Lewin,Everton,2,1,3.5,0.3,10,9.3,3,3.8,30.0,40.860215
133,Eberechi Eze,Crystal Palace,1,1,3.0,1.0,6,9.9,2,4.0,33.333333,40.40404
443,Chris Wood,Nott'ham Forest,7,0,3.7,0.9,11,11.4,7,4.6,63.636364,40.350877
350,Bukayo Saka,Arsenal,3,7,2.3,3.5,17,14.4,10,5.8,58.823529,40.277778
431,Ollie Watkins,Aston Villa,5,2,4.3,1.0,16,13.2,7,5.3,43.75,40.151515
205,Raúl Jiménez,Fulham,4,1,3.3,2.0,12,13.8,5,5.3,41.666667,38.405797
57,Facundo Buonanotte,Leicester City,3,2,2.1,1.3,13,8.9,5,3.4,38.461538,38.202247
178,Kai Havertz,Arsenal,4,1,4.5,1.0,17,14.4,5,5.5,29.411765,38.194444
433,Danny Welbeck,Brighton,6,1,4.5,0.4,16,13.1,7,4.9,43.75,37.40458
266,Bryan Mbeumo,Brentford,8,0,3.8,2.0,18,16.1,8,5.8,44.444444,36.024845
271,Dwight McNeil,Everton,3,3,0.7,2.6,10,9.3,6,3.3,60.0,35.483871
366,Antoine Semenyo,Bournemouth,3,1,3.0,2.0,11,14.2,4,5.0,36.363636,35.211268
279,Kaoru Mitoma,Brighton,1,2,2.3,2.2,16,13.1,3,4.5,18.75,34.351145
406,Adama Traoré,Fulham,1,2,2.6,2.1,12,13.8,3,4.7,25.0,34.057971