In [23]:
import pandas as pd
import numpy as np

url1 = 'https://fbref.com/en/comps/Big5/stats/players/Big-5-European-Leagues-Stats'

df1 = pd.read_html(url1, attrs={'id': 'stats_standard'})[0]
df1.head(10)

  Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk               Player             Nation
0                  1       Rodrigo Abajas             es ESP
1                  2       James Abankwah             ie IRL
2                  3    Keyliane Abdallah             fr FRA
3                  4     Yunis Abdelhamid             ma MAR
4                  5        Himad Abdelli             dz ALG
5                  6  Mohamed Abdelmoneim             eg EGY
6                  7             Ali Abdi             tn TUN
7                  8                 Abel             es ESP
8                  9        Nabil Aberdin             fr FRA
9                 10    Oliver Abildgaard             dk DEN

  Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
                 Pos              Squad               Comp                Age
0                 DF           Valencia         es La Liga             21-183
1                 DF            Udinese         it Serie A             20-300
2                 FW          Marseille         fr Ligue 1             18-220
3                 DF      Saint-Étienne         fr Ligue 1             37-044
4              MF,FW             Angers         fr Ligue 1             24-360
5                 DF               Nice         fr Ligue 1             25-284
6              DF,MF               Nice         fr Ligue 1             30-327
7                 DF            Osasuna         es La Liga             24-082
8                 MF             Getafe         es La Liga             22-080
9                 MF               Como         it Serie A             28-154

  Unnamed: 7_level_0 Playing Time         ... Per 90 Minutes              \
                Born           MP Starts  ...            Ast   G+A  G-PK
0               2003            1      1  ...           0.00  0.00  0.00
1               2004            2      0  ...           0.00  0.00  0.00
2               2006            1      0  ...           0.00  0.00  0.00
3               1987            7      7  ...           0.00  0.00  0.00
4               1999           11     11  ...           0.09  0.37  0.09
5               1999            6      5  ...           0.00  0.00  0.00
6               1993            8      6  ...           0.31  0.46  0.15
7               2000           12      9  ...           0.00  0.22  0.22
8               2002            7      4  ...           0.00  0.00  0.00
9               1996            1      0  ...           0.00  0.00  0.00

                                           Unnamed: 37_level_0
  G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0   0.00  0.10  0.00   0.10  0.10     0.10             Matches
1   0.00  0.00  0.00   0.00  0.00     0.00             Matches
2   0.00  0.00  0.00   0.00  0.00     0.00             Matches
3   0.00  0.04  0.00   0.04  0.04     0.04             Matches
4   0.19  0.33  0.11   0.45  0.11     0.23             Matches
5   0.00  0.00  0.00   0.00  0.00     0.00             Matches
6   0.46  0.14  0.19   0.33  0.14     0.33             Matches
7   0.22  0.03  0.03   0.06  0.03     0.06             Matches
8   0.00  0.01  0.01   0.02  0.01     0.02             Matches
9   0.00  0.00  0.00   0.00  0.00     0.00             Matches

[10 rows x 38 columns]

In [24]:
df1 = df1[df1.columns.drop(list(df1.filter(regex='Per 90')))]
df1 = df1.droplevel(0, axis=1)
df1.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,Matches
0,1,Rodrigo Abajas,es ESP,DF,Valencia,es La Liga,21-183,2003,1,1,...,1,0,0.1,0.1,0.0,0.1,3,2,3,Matches
1,2,James Abankwah,ie IRL,DF,Udinese,it Serie A,20-300,2004,2,0,...,0,0,0.0,0.0,0.0,0.0,1,0,0,Matches
2,3,Keyliane Abdallah,fr FRA,FW,Marseille,fr Ligue 1,18-220,2006,1,0,...,0,0,0.0,0.0,0.0,0.0,1,0,0,Matches
3,4,Yunis Abdelhamid,ma MAR,DF,Saint-Étienne,fr Ligue 1,37-044,1987,7,7,...,1,0,0.2,0.2,0.0,0.3,3,16,3,Matches
4,5,Himad Abdelli,dz ALG,"MF,FW",Angers,fr Ligue 1,24-360,1999,11,11,...,1,0,3.6,1.2,1.2,2.5,42,73,43,Matches

In [25]:
pl_df = df1[df1['Comp'] == 'eng Premier League']
pl_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,Matches
20,21,Tyler Adams,us USA,MF,Bournemouth,eng Premier League,25-271,1999,3,1,...,1,0,0.0,0.0,0.1,0.2,0,3,0,Matches
22,23,Tosin Adarabioyo,eng ENG,DF,Chelsea,eng Premier League,27-048,1997,4,2,...,1,0,0.0,0.0,0.0,0.0,0,2,0,Matches
26,26,Simon Adingra,ci CIV,"FW,MF",Brighton,eng Premier League,22-315,2002,7,2,...,0,0,0.3,0.3,0.5,0.8,7,4,44,Matches
34,34,Asher Agbinone,eng ENG,MF,Crystal Palace,eng Premier League,19-044,2005,2,0,...,0,0,0.0,0.0,0.0,0.1,2,0,1,Matches
45,45,Ola Aina,ng NGA,DF,Nott'ham Forest,eng Premier League,28-034,1996,11,11,...,1,0,0.1,0.1,0.4,0.5,25,47,19,Matches

In [26]:
pl_df = pl_df[['Player', 'Squad', 'MP', 'Starts', 'Min', '90s', 'CrdY', 'Gls', 'Ast', 'G+A', 'xG', 'xAG']]

pl_df.loc[:, pl_df.columns.difference(['Player', 'Squad'])] = pl_df.loc[:, pl_df.columns.difference(['Player', 'Squad'])].apply(pd.to_numeric, errors='coerce')

pl_df['xG+xAG'] = pl_df['xG'] + pl_df['xAG']
pl_df['(Gls+Ast)/MP'] = (pl_df['Gls'] + pl_df['Ast']) / pl_df['MP']
pl_df.head()

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
20,Tyler Adams,Bournemouth,3,1,101,1.1,1,0,0,0,0.0,0.1,0.1,0.0
22,Tosin Adarabioyo,Chelsea,4,2,173,1.9,1,0,0,0,0.0,0.0,0.0,0.0
26,Simon Adingra,Brighton,7,2,205,2.3,0,1,1,2,0.3,0.5,0.8,0.285714
34,Asher Agbinone,Crystal Palace,2,0,6,0.1,0,0,0,0,0.0,0.0,0.0,0.0
45,Ola Aina,Nott'ham Forest,11,11,951,10.6,1,1,0,1,0.1,0.4,0.5,0.090909

In [27]:
pl_df[pl_df['MP'] > 0.7 * pl_df['MP'].max()].sort_values(by='(Gls+Ast)/MP', ascending=False).head(20)

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
1924,Mohamed Salah,Liverpool,11,11,963,10.7,0,8,6,14,6.5,3.7,10.2,1.272727
1694,Cole Palmer,Chelsea,11,11,955,10.6,3,7,5,12,5.2,4.8,10.0,1.090909
918,Erling Haaland,Manchester City,11,11,989,11.0,2,12,0,12,11.0,0.5,11.5,1.090909
2325,Yoane Wissa,Brentford,8,7,565,6.3,1,7,1,8,4.5,0.3,4.8,1.0
1920,Bukayo Saka,Arsenal,10,10,820,9.1,1,3,7,10,2.5,3.8,6.3,1.0
1025,Nicolas Jackson,Chelsea,11,11,866,9.6,4,6,3,9,6.2,1.4,7.6,0.818182
1414,Bryan Mbeumo,Brentford,11,11,984,10.9,2,8,1,9,3.9,2.1,6.0,0.818182
963,Son Heung-min,Tottenham,8,8,664,7.4,0,3,3,6,1.9,3.1,5.0,0.75
2332,Chris Wood,Nott'ham Forest,11,11,889,9.9,1,8,0,8,4.5,1.0,5.5,0.727273
2307,Danny Welbeck,Brighton,11,11,929,10.3,1,6,2,8,5.1,0.5,5.6,0.727273
1015,Alexander Isak,Newcastle Utd,9,9,764,8.5,0,4,2,6,4.3,1.3,5.6,0.666667
568,Liam Delap,Ipswich Town,11,10,775,8.6,3,6,1,7,2.4,0.6,3.0,0.636364
522,Matheus Cunha,Wolves,11,10,886,9.8,1,5,2,7,2.4,3.8,6.2,0.636364
594,Luis Díaz,Liverpool,11,8,648,7.2,0,5,2,7,2.8,1.5,4.3,0.636364
2299,Ollie Watkins,Aston Villa,11,11,839,9.3,0,5,2,7,5.1,1.0,6.1,0.636364
1423,Dwight McNeil,Everton,10,10,887,9.9,1,3,3,6,0.7,2.9,3.6,0.6
2056,Dominic Solanke,Tottenham,9,9,797,8.9,0,4,1,5,5.5,0.8,6.3,0.555556
1303,James Maddison,Tottenham,11,9,685,7.6,2,3,3,6,2.4,1.9,4.3,0.545455
1046,Raúl Jiménez,Fulham,11,8,664,7.4,0,4,2,6,3.6,2.2,5.8,0.545455
2237,Jamie Vardy,Leicester City,10,10,843,9.4,3,4,1,5,3.5,0.6,4.1,0.5

In [28]:
pl_df[pl_df['MP'] > 0.7 * pl_df['MP'].max()].sort_values(by='xG+xAG', ascending=False).head(20)

,Player,Squad,MP,Starts,Min,90s,CrdY,Gls,Ast,G+A,xG,xAG,xG+xAG,(Gls+Ast)/MP
918,Erling Haaland,Manchester City,11,11,989,11.0,2,12,0,12,11.0,0.5,11.5,1.090909
1924,Mohamed Salah,Liverpool,11,11,963,10.7,0,8,6,14,6.5,3.7,10.2,1.272727
1694,Cole Palmer,Chelsea,11,11,955,10.6,3,7,5,12,5.2,4.8,10.0,1.090909
1025,Nicolas Jackson,Chelsea,11,11,866,9.6,4,6,3,9,6.2,1.4,7.6,0.818182
737,Bruno Fernandes,Manchester Utd,11,11,929,10.3,1,2,3,5,4.0,3.0,7.0,0.454545
2056,Dominic Solanke,Tottenham,9,9,797,8.9,0,4,1,5,5.5,0.8,6.3,0.555556
1920,Bukayo Saka,Arsenal,10,10,820,9.1,1,3,7,10,2.5,3.8,6.3,1.0
522,Matheus Cunha,Wolves,11,10,886,9.8,1,5,2,7,2.4,3.8,6.2,0.636364
2299,Ollie Watkins,Aston Villa,11,11,839,9.3,0,5,2,7,5.1,1.0,6.1,0.636364
1414,Bryan Mbeumo,Brentford,11,11,984,10.9,2,8,1,9,3.9,2.1,6.0,0.818182
1997,Antoine Semenyo,Bournemouth,11,11,967,10.7,4,4,1,5,3.8,2.1,5.9,0.454545
1053,Brennan Johnson,Tottenham,11,10,866,9.6,2,4,0,4,5.2,0.7,5.9,0.363636
1046,Raúl Jiménez,Fulham,11,8,664,7.4,0,4,2,6,3.6,2.2,5.8,0.545455
943,Kai Havertz,Arsenal,11,11,990,11.0,2,4,1,5,4.5,1.1,5.6,0.454545
1015,Alexander Isak,Newcastle Utd,9,9,764,8.5,0,4,2,6,4.3,1.3,5.6,0.666667
2307,Danny Welbeck,Brighton,11,11,929,10.3,1,6,2,8,5.1,0.5,5.6,0.727273
853,Anthony Gordon,Newcastle Utd,10,10,845,9.4,0,2,1,3,3.5,2.1,5.6,0.3
2332,Chris Wood,Nott'ham Forest,11,11,889,9.9,1,8,0,8,4.5,1.0,5.5,0.727273
1476,Kaoru Mitoma,Brighton,11,10,915,10.2,0,1,2,3,2.6,2.7,5.3,0.272727
1868,Morgan Rogers,Aston Villa,11,11,899,10.0,3,3,2,5,2.6,2.5,5.1,0.454545

In [29]:
filtered_df = pl_df[pl_df['MP'] > 0.7 * pl_df['MP'].max()]

filtered_df['rank_GlsAst_per_MP'] = filtered_df['(Gls+Ast)/MP'].rank(ascending=False)
filtered_df['rank_xG_xAG'] = filtered_df['xG+xAG'].rank(ascending=False)

filtered_df['combined_rank'] = filtered_df['rank_GlsAst_per_MP'] + filtered_df['rank_xG_xAG']

top = filtered_df.sort_values(by='combined_rank').head(30)

top[['Player', '(Gls+Ast)/MP', 'xG+xAG', 'combined_rank']]

/var/folders/tn/2spq72m9385bz56_ft5yg5s80000gn/T/ipykernel_49535/1856113182.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['rank_GlsAst_per_MP'] = filtered_df['(Gls+Ast)/MP'].rank(ascending=False)
/var/folders/tn/2spq72m9385bz56_ft5yg5s80000gn/T/ipykernel_49535/1856113182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['rank_xG_xAG'] = filtered_df['xG+xAG'].rank(ascending=False)
/var/folders/tn/2spq72m9385bz56_ft5yg5s80000gn/T/ipykernel_49535/1856113182.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['combined_rank'] = filtered_df['rank_GlsAst_per_MP'] + filtered_df['rank_xG_xAG']

                  Player (Gls+Ast)/MP xG+xAG  combined_rank
1924       Mohamed Salah     1.272727   10.2            3.0
918       Erling Haaland     1.090909   11.5            3.5
1694         Cole Palmer     1.090909   10.0            5.5
1025     Nicolas Jackson     0.818182    7.6           10.5
1920         Bukayo Saka          1.0    6.3           11.0
1414        Bryan Mbeumo     0.818182    6.0           16.5
522        Matheus Cunha     0.636364    6.2           21.5
2299       Ollie Watkins     0.636364    6.1           22.5
2056     Dominic Solanke     0.555556    6.3           23.5
2307       Danny Welbeck     0.727273    5.6           25.0
1015      Alexander Isak     0.666667    5.6           26.5
2332          Chris Wood     0.727273    5.5           27.5
2325         Yoane Wissa          1.0    4.8           28.5
963        Son Heung-min         0.75    5.0           29.5
1046        Raúl Jiménez     0.545455    5.8           31.5
737      Bruno Fernandes     0.454545    7.0           31.5
1997     Antoine Semenyo     0.454545    5.9           38.0
943          Kai Havertz     0.454545    5.6           42.0
594            Luis Díaz     0.636364    4.3           46.0
1868       Morgan Rogers     0.454545    5.1           46.5
335   Facundo Buonanotte          0.5    4.6           48.0
307         Jarrod Bowen     0.454545    4.8           50.5
1303      James Maddison     0.545455    4.3           51.0
1053     Brennan Johnson     0.363636    5.9           52.5
2237         Jamie Vardy          0.5    4.1           58.0
712            Evanilson          0.4    4.7           59.0
203        Harvey Barnes     0.454545    4.3           59.0
1423       Dwight McNeil          0.6    3.6           61.5
1305        Noni Madueke          0.4    4.4           62.0
2193        Adama Traoré     0.363636    5.0           62.5

In [30]:
url2 = 'https://fbref.com/en/comps/9/Premier-League-Stats'

df2 = pd.read_html(url2, attrs={'id': 'results2024-202591_overall'})[0]
df2.head(10)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Liverpool,11,9,1,1,21,6,15,28,2.55,20.1,9.3,10.8,0.98,W W D W W,60263,Mohamed Salah - 8,Alisson,NaN
1,2,Manchester City,11,7,2,2,22,13,9,23,2.09,22.0,13.0,9.0,0.81,W W W L L,52800,Erling Haaland - 12,Ederson,NaN
2,3,Chelsea,11,5,4,2,21,13,8,19,1.73,19.6,15.1,4.6,0.42,D L W D D,39528,Cole Palmer - 7,Robert Sánchez,NaN
3,4,Arsenal,11,5,4,2,18,12,6,19,1.73,17.0,11.9,5.1,0.46,W L D L D,60320,Kai Havertz - 4,David Raya,NaN
4,5,Nott'ham Forest,11,5,4,2,15,10,5,19,1.73,14.2,11.2,3.0,0.27,D W W W L,29920,Chris Wood - 8,Matz Sels,NaN
5,6,Brighton,11,5,4,2,19,15,4,19,1.73,16.4,18.4,-1.9,-0.18,W W D L W,33576,Danny Welbeck - 6,Bart Verbruggen,NaN
6,7,Fulham,11,5,3,3,16,13,3,18,1.64,17.0,12.7,4.3,0.39,L L D W W,25861,Raúl Jiménez - 4,Bernd Leno,NaN
7,8,Newcastle Utd,11,5,3,3,13,11,2,18,1.64,16.3,14.6,1.7,0.15,D L L W W,52225,"Alexander Isak, Harvey Barnes - 4",Nick Pope,NaN
8,9,Aston Villa,11,5,3,3,17,17,0,18,1.64,16.2,13.3,2.9,0.26,D W D L L,41597,Ollie Watkins - 5,Emiliano Martínez,NaN
9,10,Tottenham,11,5,1,5,23,13,10,16,1.45,21.3,13.0,8.4,0.76,L W L W L,61398,"Dominic Solanke, Brennan Johnson - 4",Guglielmo Vicario,NaN

In [31]:
tm_df = df2[['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90']].copy()

for column in tm_df.columns:
    if column != 'Squad':
        tm_df[column] = pd.to_numeric(tm_df[column], errors='coerce')

tm_df['GF-xG'] = tm_df['GF'] - tm_df['xG']
tm_df['GA-xGA'] = tm_df['GA'] - tm_df['xGA']
tm_df.head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
0,1,Liverpool,11,9,1,1,21,6,28,2.55,20.1,9.3,10.8,0.98,0.9,-3.3
1,2,Manchester City,11,7,2,2,22,13,23,2.09,22.0,13.0,9.0,0.81,0.0,0.0
2,3,Chelsea,11,5,4,2,21,13,19,1.73,19.6,15.1,4.6,0.42,1.4,-2.1
3,4,Arsenal,11,5,4,2,18,12,19,1.73,17.0,11.9,5.1,0.46,1.0,0.1
4,5,Nott'ham Forest,11,5,4,2,15,10,19,1.73,14.2,11.2,3.0,0.27,0.8,-1.2
5,6,Brighton,11,5,4,2,19,15,19,1.73,16.4,18.4,-1.9,-0.18,2.6,-3.4
6,7,Fulham,11,5,3,3,16,13,18,1.64,17.0,12.7,4.3,0.39,-1.0,0.3
7,8,Newcastle Utd,11,5,3,3,13,11,18,1.64,16.3,14.6,1.7,0.15,-3.3,-3.6
8,9,Aston Villa,11,5,3,3,17,17,18,1.64,16.2,13.3,2.9,0.26,0.8,3.7
9,10,Tottenham,11,5,1,5,23,13,16,1.45,21.3,13.0,8.4,0.76,1.7,0.0
10,11,Brentford,11,5,1,5,22,22,16,1.45,18.2,19.3,-1.1,-0.10,3.8,2.7
11,12,Bournemouth,11,4,3,4,15,15,15,1.36,18.8,14.4,4.4,0.40,-3.8,0.6
12,13,Manchester Utd,11,4,3,4,12,12,15,1.36,17.4,16.7,0.6,0.06,-5.4,-4.7
13,14,West Ham,11,3,3,5,13,19,12,1.09,15.1,18.4,-3.4,-0.31,-2.1,0.6
14,15,Leicester City,11,2,4,5,14,21,10,0.91,11.1,20.0,-9.0,-0.81,2.9,1.0
15,16,Everton,11,2,4,5,10,17,10,0.91,11.9,16.0,-4.0,-0.37,-1.9,1.0
16,17,Ipswich Town,11,1,5,5,12,22,8,0.73,10.1,24.2,-14.1,-1.28,1.9,-2.2
17,18,Crystal Palace,11,1,4,6,8,15,7,0.64,13.8,16.1,-2.4,-0.22,-5.8,-1.1
18,19,Wolves,11,1,3,7,16,27,6,0.55,11.5,19.8,-8.3,-0.75,4.5,7.2
19,20,Southampton,11,1,1,9,7,21,4,0.36,11.9,22.4,-10.6,-0.96,-4.9,-1.4

In [32]:
tm_df.sort_values(by='xGA', ascending=True).head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
0,1,Liverpool,11,9,1,1,21,6,28,2.55,20.1,9.3,10.8,0.98,0.9,-3.3
4,5,Nott'ham Forest,11,5,4,2,15,10,19,1.73,14.2,11.2,3.0,0.27,0.8,-1.2
3,4,Arsenal,11,5,4,2,18,12,19,1.73,17.0,11.9,5.1,0.46,1.0,0.1
6,7,Fulham,11,5,3,3,16,13,18,1.64,17.0,12.7,4.3,0.39,-1.0,0.3
9,10,Tottenham,11,5,1,5,23,13,16,1.45,21.3,13.0,8.4,0.76,1.7,0.0
1,2,Manchester City,11,7,2,2,22,13,23,2.09,22.0,13.0,9.0,0.81,0.0,0.0
8,9,Aston Villa,11,5,3,3,17,17,18,1.64,16.2,13.3,2.9,0.26,0.8,3.7
11,12,Bournemouth,11,4,3,4,15,15,15,1.36,18.8,14.4,4.4,0.40,-3.8,0.6
7,8,Newcastle Utd,11,5,3,3,13,11,18,1.64,16.3,14.6,1.7,0.15,-3.3,-3.6
2,3,Chelsea,11,5,4,2,21,13,19,1.73,19.6,15.1,4.6,0.42,1.4,-2.1
15,16,Everton,11,2,4,5,10,17,10,0.91,11.9,16.0,-4.0,-0.37,-1.9,1.0
17,18,Crystal Palace,11,1,4,6,8,15,7,0.64,13.8,16.1,-2.4,-0.22,-5.8,-1.1
12,13,Manchester Utd,11,4,3,4,12,12,15,1.36,17.4,16.7,0.6,0.06,-5.4,-4.7
5,6,Brighton,11,5,4,2,19,15,19,1.73,16.4,18.4,-1.9,-0.18,2.6,-3.4
13,14,West Ham,11,3,3,5,13,19,12,1.09,15.1,18.4,-3.4,-0.31,-2.1,0.6
10,11,Brentford,11,5,1,5,22,22,16,1.45,18.2,19.3,-1.1,-0.10,3.8,2.7
18,19,Wolves,11,1,3,7,16,27,6,0.55,11.5,19.8,-8.3,-0.75,4.5,7.2
14,15,Leicester City,11,2,4,5,14,21,10,0.91,11.1,20.0,-9.0,-0.81,2.9,1.0
19,20,Southampton,11,1,1,9,7,21,4,0.36,11.9,22.4,-10.6,-0.96,-4.9,-1.4
16,17,Ipswich Town,11,1,5,5,12,22,8,0.73,10.1,24.2,-14.1,-1.28,1.9,-2.2

In [33]:
tm_df.sort_values(by='xG', ascending=False).head(20)

,Rk,Squad,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,GF-xG,GA-xGA
1,2,Manchester City,11,7,2,2,22,13,23,2.09,22.0,13.0,9.0,0.81,0.0,0.0
9,10,Tottenham,11,5,1,5,23,13,16,1.45,21.3,13.0,8.4,0.76,1.7,0.0
0,1,Liverpool,11,9,1,1,21,6,28,2.55,20.1,9.3,10.8,0.98,0.9,-3.3
2,3,Chelsea,11,5,4,2,21,13,19,1.73,19.6,15.1,4.6,0.42,1.4,-2.1
11,12,Bournemouth,11,4,3,4,15,15,15,1.36,18.8,14.4,4.4,0.40,-3.8,0.6
10,11,Brentford,11,5,1,5,22,22,16,1.45,18.2,19.3,-1.1,-0.10,3.8,2.7
12,13,Manchester Utd,11,4,3,4,12,12,15,1.36,17.4,16.7,0.6,0.06,-5.4,-4.7
6,7,Fulham,11,5,3,3,16,13,18,1.64,17.0,12.7,4.3,0.39,-1.0,0.3
3,4,Arsenal,11,5,4,2,18,12,19,1.73,17.0,11.9,5.1,0.46,1.0,0.1
5,6,Brighton,11,5,4,2,19,15,19,1.73,16.4,18.4,-1.9,-0.18,2.6,-3.4
7,8,Newcastle Utd,11,5,3,3,13,11,18,1.64,16.3,14.6,1.7,0.15,-3.3,-3.6
8,9,Aston Villa,11,5,3,3,17,17,18,1.64,16.2,13.3,2.9,0.26,0.8,3.7
13,14,West Ham,11,3,3,5,13,19,12,1.09,15.1,18.4,-3.4,-0.31,-2.1,0.6
4,5,Nott'ham Forest,11,5,4,2,15,10,19,1.73,14.2,11.2,3.0,0.27,0.8,-1.2
17,18,Crystal Palace,11,1,4,6,8,15,7,0.64,13.8,16.1,-2.4,-0.22,-5.8,-1.1
15,16,Everton,11,2,4,5,10,17,10,0.91,11.9,16.0,-4.0,-0.37,-1.9,1.0
19,20,Southampton,11,1,1,9,7,21,4,0.36,11.9,22.4,-10.6,-0.96,-4.9,-1.4
18,19,Wolves,11,1,3,7,16,27,6,0.55,11.5,19.8,-8.3,-0.75,4.5,7.2
14,15,Leicester City,11,2,4,5,14,21,10,0.91,11.1,20.0,-9.0,-0.81,2.9,1.0
16,17,Ipswich Town,11,1,5,5,12,22,8,0.73,10.1,24.2,-14.1,-1.28,1.9,-2.2

In [34]:
pldf_relevant = pl_df[['Player', 'Squad', 'Gls', 'Ast', 'xG', 'xAG']]
tmdf_relevant = tm_df[['Squad', 'GF', 'xG']].rename(columns={'GF': 'squad_g', 'xG': 'squad_xg'})

talismen = pldf_relevant.merge(tmdf_relevant, on='Squad', how='left')

talismen['player_g+ag'] = talismen['Gls'] + talismen['Ast']
talismen['player_xg+xag'] = talismen['xG'] + talismen['xAG']
talismen['player_g+ag/squad_g'] = talismen['player_g+ag']*100 / talismen['squad_g']
talismen['player_xg+xag/squad_xg'] = talismen['player_xg+xag']*100 / talismen['squad_xg']
talismen['player_g/player_ag'] = talismen.apply(
    lambda row: row['Gls'] / row['Ast'] if row['Ast'] != 0 else np.nan, axis=1
)

talismen.head()

talismen.rename(columns={
    'Player': 'player',
    'Squad': 'squad',
    'Gls': 'player_g',
    'Ast': 'player_ag',
    'xG': 'player_xg',
    'xAG': 'player_xag'
}, inplace=True)

talismen.head()

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg,player_g/player_ag
0,Tyler Adams,Bournemouth,0,0,0.0,0.1,15,18.8,0,0.1,0.0,0.531915,NaN
1,Tosin Adarabioyo,Chelsea,0,0,0.0,0.0,21,19.6,0,0.0,0.0,0.0,NaN
2,Simon Adingra,Brighton,1,1,0.3,0.5,19,16.4,2,0.8,10.526316,4.878049,1.0
3,Asher Agbinone,Crystal Palace,0,0,0.0,0.0,8,13.8,0,0.0,0.0,0.0,NaN
4,Ola Aina,Nott'ham Forest,1,0,0.1,0.4,15,14.2,1,0.5,6.666667,3.521127,NaN

In [35]:
talismen.sort_values(by='player_g+ag/squad_g', ascending=False).head(20)

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg,player_g/player_ag
356,Mohamed Salah,Liverpool,8,6,6.5,3.7,21,20.1,14,10.2,66.666667,50.746269,1.333333
274,Dwight McNeil,Everton,3,3,0.7,2.9,10,11.9,6,3.6,60.0,30.252101,1.000000
99,Liam Delap,Ipswich Town,6,1,2.4,0.6,12,10.1,7,3.0,58.333333,29.70297,6.000000
322,Cole Palmer,Chelsea,7,5,5.2,4.8,21,19.6,12,10.0,57.142857,51.020408,1.400000
355,Bukayo Saka,Arsenal,3,7,2.5,3.8,18,17.0,10,6.3,55.555556,37.058824,0.428571
174,Erling Haaland,Manchester City,12,0,11.0,0.5,22,22.0,12,11.5,54.545455,52.272727,NaN
450,Chris Wood,Nott'ham Forest,8,0,4.5,1.0,15,14.2,8,5.5,53.333333,38.732394,NaN
198,Alexander Isak,Newcastle Utd,4,2,4.3,1.3,13,16.3,6,5.6,46.153846,34.355828,2.000000
91,Matheus Cunha,Wolves,5,2,2.4,3.8,16,11.5,7,6.2,43.75,53.913043,2.500000
200,Nicolas Jackson,Chelsea,6,3,6.2,1.4,21,19.6,9,7.6,42.857143,38.77551,2.000000
440,Danny Welbeck,Brighton,6,2,5.1,0.5,19,16.4,8,5.6,42.105263,34.146341,3.000000
141,Bruno Fernandes,Manchester Utd,2,3,4.0,3.0,12,17.4,5,7.0,41.666667,40.229885,0.666667
438,Ollie Watkins,Aston Villa,5,2,5.1,1.0,17,16.2,7,6.1,41.176471,37.654321,2.500000
269,Bryan Mbeumo,Brentford,8,1,3.9,2.1,22,18.2,9,6.0,40.909091,32.967033,8.000000
36,Harvey Barnes,Newcastle Utd,4,1,2.3,2.0,13,16.3,5,4.3,38.461538,26.380368,4.000000
49,Jarrod Bowen,West Ham,3,2,1.9,2.9,13,15.1,5,4.8,38.461538,31.788079,1.500000
265,Jean-Philippe Mateta,Crystal Palace,3,0,3.1,0.8,8,13.8,3,3.9,37.5,28.26087,NaN
207,Raúl Jiménez,Fulham,4,2,3.6,2.2,16,17.0,6,5.8,37.5,34.117647,2.000000
449,Yoane Wissa,Brentford,7,1,4.5,0.3,22,18.2,8,4.8,36.363636,26.373626,7.000000
425,Jamie Vardy,Leicester City,4,1,3.5,0.6,14,11.1,5,4.1,35.714286,36.936937,4.000000

In [36]:
talismen.sort_values(by='player_xg+xag/squad_xg', ascending=False).head(20)

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg,player_g/player_ag
91,Matheus Cunha,Wolves,5,2,2.4,3.8,16,11.5,7,6.2,43.75,53.913043,2.500000
174,Erling Haaland,Manchester City,12,0,11.0,0.5,22,22.0,12,11.5,54.545455,52.272727,NaN
322,Cole Palmer,Chelsea,7,5,5.2,4.8,21,19.6,12,10.0,57.142857,51.020408,1.400000
356,Mohamed Salah,Liverpool,8,6,6.5,3.7,21,20.1,14,10.2,66.666667,50.746269,1.333333
57,Facundo Buonanotte,Leicester City,3,2,2.4,2.2,14,11.1,5,4.6,35.714286,41.441441,1.500000
141,Bruno Fernandes,Manchester Utd,2,3,4.0,3.0,12,17.4,5,7.0,41.666667,40.229885,0.666667
200,Nicolas Jackson,Chelsea,6,3,6.2,1.4,21,19.6,9,7.6,42.857143,38.77551,2.000000
450,Chris Wood,Nott'ham Forest,8,0,4.5,1.0,15,14.2,8,5.5,53.333333,38.732394,NaN
438,Ollie Watkins,Aston Villa,5,2,5.1,1.0,17,16.2,7,6.1,41.176471,37.654321,2.500000
355,Bukayo Saka,Arsenal,3,7,2.5,3.8,18,17.0,10,6.3,55.555556,37.058824,0.428571
425,Jamie Vardy,Leicester City,4,1,3.5,0.6,14,11.1,5,4.1,35.714286,36.936937,4.000000
65,Dominic Calvert-Lewin,Everton,2,1,3.7,0.4,10,11.9,3,4.1,30.0,34.453782,2.000000
198,Alexander Isak,Newcastle Utd,4,2,4.3,1.3,13,16.3,6,5.6,46.153846,34.355828,2.000000
160,Anthony Gordon,Newcastle Utd,2,1,3.5,2.1,13,16.3,3,5.6,23.076923,34.355828,2.000000
440,Danny Welbeck,Brighton,6,2,5.1,0.5,19,16.4,8,5.6,42.105263,34.146341,3.000000
207,Raúl Jiménez,Fulham,4,2,3.6,2.2,16,17.0,6,5.8,37.5,34.117647,2.000000
269,Bryan Mbeumo,Brentford,8,1,3.9,2.1,22,18.2,9,6.0,40.909091,32.967033,8.000000
180,Kai Havertz,Arsenal,4,1,4.5,1.1,18,17.0,5,5.6,27.777778,32.941176,4.000000
282,Kaoru Mitoma,Brighton,1,2,2.6,2.7,19,16.4,3,5.3,15.789474,32.317073,0.500000
49,Jarrod Bowen,West Ham,3,2,1.9,2.9,13,15.1,5,4.8,38.461538,31.788079,1.500000

In [37]:
talismen['rank_g_ag_ratio'] = talismen['player_g+ag/squad_g'].rank(ascending=False)
talismen['rank_xg_xag_ratio'] = talismen['player_xg+xag/squad_xg'].rank(ascending=False)

talismen['combined_rank'] = talismen['rank_g_ag_ratio'] + talismen['rank_xg_xag_ratio']

top_talismen = talismen.sort_values(by='combined_rank').head(30)

top_talismen[['player', 'player_g+ag/squad_g', 'player_xg+xag/squad_xg', 'combined_rank']]

,player,player_g+ag/squad_g,player_xg+xag/squad_xg,combined_rank
356,Mohamed Salah,66.666667,50.746269,5.0
322,Cole Palmer,57.142857,51.020408,7.0
174,Erling Haaland,54.545455,52.272727,8.0
91,Matheus Cunha,43.75,53.913043,10.0
450,Chris Wood,53.333333,38.732394,15.0
355,Bukayo Saka,55.555556,37.058824,15.0
200,Nicolas Jackson,42.857143,38.77551,17.0
141,Bruno Fernandes,41.666667,40.229885,18.0
198,Alexander Isak,46.153846,34.355828,21.5
438,Ollie Watkins,41.176471,37.654321,22.0
57,Facundo Buonanotte,35.714286,41.441441,25.5
440,Danny Welbeck,42.105263,34.146341,26.0
274,Dwight McNeil,60.0,30.252101,27.0
99,Liam Delap,58.333333,29.70297,29.0
269,Bryan Mbeumo,40.909091,32.967033,31.0
425,Jamie Vardy,35.714286,36.936937,31.5
207,Raúl Jiménez,37.5,34.117647,33.5
49,Jarrod Bowen,38.461538,31.788079,35.5
65,Dominic Calvert-Lewin,30.0,34.453782,40.5
371,Antoine Semenyo,33.333333,31.382979,45.0
265,Jean-Philippe Mateta,37.5,28.26087,47.5
394,Jørgen Strand Larsen,31.25,31.304348,49.0
36,Harvey Barnes,38.461538,26.380368,49.5
351,Morgan Rogers,29.411765,31.481481,51.0
180,Kai Havertz,27.777778,32.941176,53.5
449,Yoane Wissa,36.363636,26.373626,54.0
152,Alejandro Garnacho,33.333333,26.436782,56.0
22,Cameron Archer,28.571429,31.092437,56.5
160,Anthony Gordon,23.076923,34.355828,63.5
105,Luis Díaz,33.333333,21.393035,72.0

In [38]:
talismen.sort_values(by='player_g/player_ag', ascending=False).head(20)

,player,squad,player_g,player_ag,player_xg,player_xag,squad_g,squad_xg,player_g+ag,player_xg+xag,player_g+ag/squad_g,player_xg+xag/squad_xg,player_g/player_ag,rank_g_ag_ratio,rank_xg_xag_ratio,combined_rank
269,Bryan Mbeumo,Brentford,8,1,3.9,2.1,22,18.2,9,6.0,40.909091,32.967033,8.0,14.0,17.0,31.0
449,Yoane Wissa,Brentford,7,1,4.5,0.3,22,18.2,8,4.8,36.363636,26.373626,7.0,19.0,35.0,54.0
99,Liam Delap,Ipswich Town,6,1,2.4,0.6,12,10.1,7,3.0,58.333333,29.70297,6.0,3.0,26.0,29.0
382,Dominic Solanke,Tottenham,4,1,5.5,0.8,23,21.3,5,6.3,21.73913,29.577465,4.0,51.0,27.0,78.0
371,Antoine Semenyo,Bournemouth,4,1,3.8,2.1,15,18.8,5,5.9,33.333333,31.382979,4.0,23.0,22.0,45.0
180,Kai Havertz,Arsenal,4,1,4.5,1.1,18,17.0,5,5.6,27.777778,32.941176,4.0,35.5,18.0,53.5
394,Jørgen Strand Larsen,Wolves,4,1,2.6,1.0,16,11.5,5,3.6,31.25,31.304348,4.0,26.0,23.0,49.0
36,Harvey Barnes,Newcastle Utd,4,1,2.3,2.0,13,16.3,5,4.3,38.461538,26.380368,4.0,15.5,34.0,49.5
425,Jamie Vardy,Leicester City,4,1,3.5,0.6,14,11.1,5,4.1,35.714286,36.936937,4.0,20.5,11.0,31.5
152,Alejandro Garnacho,Manchester Utd,3,1,3.5,1.1,12,17.4,4,4.6,33.333333,26.436782,3.0,23.0,33.0,56.0
208,João Pedro,Brighton,3,1,1.4,0.7,19,16.4,4,2.1,21.052632,12.804878,3.0,53.5,96.0,149.5
440,Danny Welbeck,Brighton,6,2,5.1,0.5,19,16.4,8,5.6,42.105263,34.146341,3.0,11.0,15.0,26.0
438,Ollie Watkins,Aston Villa,5,2,5.1,1.0,17,16.2,7,6.1,41.176471,37.654321,2.5,13.0,9.0,22.0
105,Luis Díaz,Liverpool,5,2,2.8,1.5,21,20.1,7,4.3,33.333333,21.393035,2.5,23.0,49.0,72.0
91,Matheus Cunha,Wolves,5,2,2.4,3.8,16,11.5,7,6.2,43.75,53.913043,2.5,9.0,1.0,10.0
216,James Justin,Leicester City,2,1,0.4,0.3,14,11.1,3,0.7,21.428571,6.306306,2.0,52.0,185.5,237.5
160,Anthony Gordon,Newcastle Utd,2,1,3.5,2.1,13,16.3,3,5.6,23.076923,34.355828,2.0,50.0,13.5,63.5
65,Dominic Calvert-Lewin,Everton,2,1,3.7,0.4,10,11.9,3,4.1,30.0,34.453782,2.0,28.5,12.0,40.5
207,Raúl Jiménez,Fulham,4,2,3.6,2.2,16,17.0,6,5.8,37.5,34.117647,2.0,17.5,16.0,33.5
200,Nicolas Jackson,Chelsea,6,3,6.2,1.4,21,19.6,9,7.6,42.857143,38.77551,2.0,10.0,7.0,17.0